*{margin: 0; padding: 0;} 

.top-facebook {
    height: 40px;
    background: #3b5998;
}

.element {
    position: relative;
    float: right;
    margin-right: 200px;
    margin-top: 10px;
    transition: 0.4s;
}

.triangle {
    color: white;
    font-size: 20px;
    transition: 0.4s;
    color: black;

    cursor: pointer;
}
.tamgiactrang {color: white;}

.list {
    position: absolute;
    top: 34px;
    right: -17px;
    width: 200px;
    opacity: 1;
    /* visibility: hidden; */
}
.out {
	opacity: 1; 
	visibility: visible;
}

.list:after {
    content: "";
    position: absolute;
    top: -16px;
    width: 0px;
    height: 0px;
    border: 6px rgba(255, 215, 0, 0) solid;
    border-bottom-color: white;
    right: 17px;
}

li.list-group-item {
    font-size: 13px;
    padding: 5px 26px;
}

li.list-group-item:hover {
    color: white;
    background: #3b5998;
}
